src/main/resources/xsd/word.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">

    <xs:element name="getWordByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getWordByIdResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="id" type="xs:int"/>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="popularity" type="xs:int"/>
			</xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>